@import './base.css';

body {
  background:-moz-linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 67%, rgba(0, 0, 0, 1) 100%, rgba(90, 90, 90, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 67%, rgba(0, 0, 0, 1) 100%, rgba(90, 90, 90, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 67%, rgba(0, 0, 0, 1) 100%, rgba(90, 90, 90, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A5A5A', endColorstr='#424242', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 67%, rgba(0, 0, 0, 1) 100%, rgba(90, 90, 90, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 67%, rgba(0, 0, 0, 1) 100%, rgba(90, 90, 90, 1) 100%);

            
}